html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  font-size: 100%;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

#linkbar {
  background-color: #002f6c;
}

#linkbar a {
  text-decoration: none;
  display: block;
  padding: 8px 24px;
  color: #fff;
  border-radius: 4px;
}

#linkbar a:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.38);
}

#linkbar .linkbar__active {
  background-color: rgba(0, 0, 0, 0.38);
}

#linkbar table {
  border-collapse: separate;
  border-spacing: 8px;
}

header {
  padding: 24px 32px;
  background-color: #01579b;
}

header h1 {
  color: #fff;
  font-size: 220%;
  font-weight: bold;
}

#page {
  max-width: 1200px;
  width: 100%;
}

.page-inner {
  padding: 32px 24px;
}

.page-inner .table {
  width: 100%;
  margin-bottom: 24px;
}

.delete-item {
  color: #B71C1C;
}

.delete-item:hover {
  color: rgba(0, 0, 0, 0.38);
}

.add-wrap {
  margin-top: 32px;
}

#contacts {
  height: 300px;
  width: 50%;
  min-width: 50%;
  max-width: 50%;
}

#notes {
  height: 200px;
}

#tnotes {
  height: 400px;
}

#jentry {
  height: 200px;
}

#editcust + #todo, #editcust + #addtodo {
  margin-top: 32px;
}

.cust-tech-form .checkboxes label {
  margin-right: 16px;
  line-height: 32px;
}

.cust-tech-form table td {
  white-space: nowrap;
}

input[type="checkbox"] {
  margin-right: 8px;
  transform: scale(1.5);
}

.tags {
  flex-wrap: nowrap;
}
